body {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    color: #989898;
    font-weight: 300;
    background: #f8f8f8;
}

.header {
    padding: 50px 0;
    margin: 0;
    position: relative;
    border-top: 5px solid #018dc8;
}

.header .profile-img {
    margin-right: 30px;
}

.header .name-wrapper {
    margin-bottom: 30px;
}

.header .name-wrapper h1 {
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 5px;
}

.header .name-wrapper span {
    font-size: 24px;
    color: #018dc8;
}

.header .personal-details {
    margin: 10px 0;
}

.header .personal-details strong {
    font-size: 13px;
    color: #444444;
    display: block;
    line-height: 1;
}

.header .personal-details small {
    font-size: 12px;
}

.header .personal-details span {
    color: #989898;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-wrapper {
    padding: 50px 0;
}

.section-title {
    margin-right: 30px;
    text-align: right;
}

.section-title h2 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #bbbbbb;
    text-transform: uppercase;
}

.item-stats .item-stats-value {
    font-size: 18px;
    color: #444;
    font-weight: 500;
}

.item-stats .item-stats-name {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
}

.skills-container {
    margin-bottom: 24px;
}

.status {
    border-radius: 3px;
    border-color: #444;
    border: 1px;
    box-sizing: border-box;
}